body {
background-color: darkolivegreen;
}

.container {
    min-width: 50%;
    max-width: 70%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-div {
flex-grow: 1;
flex-shrink: 0;
}

.table {
    margin: 0 auto;

    font-size: 30px;

    border: 4px solid white;
    background-color: rgba(183, 145, 108, 0.8);
}


th, td {
    border: 3px dotted white;

    text-align: center;
    vertical-align: top;
}
